// Background
$lightBackground: #ffffff;
$darkBackground: #000000;

// Links
$lightLink: #000000;
$otherLightLink: #333333;
$darkLink: #ffffff;
$otherDarkLink: #cccccc;

// Icon Button hover/focus
$lightFocus: rgba(156, 156, 156, 0.2);
$darkFocus: rgba(255, 255, 255, 0.2);
